.total{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.nome-img{
    color: $text;
    font-family: "Press Start 2P", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    img{
        width: 30vmin;
        height: 30vmin;
        margin-bottom: 10vmin;
        margin-left: -5vmin;
    }
    .nome{
        flex-direction: column;
        .dstq{
            font-size: 14vmin;
            margin: 0vmin;
        }

        h2{
            font-size: 7vmin;
            margin-top: 0vmin;
        }
    }
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3vmin;
    margin-top: -5vmin;
    button{
        font-family: "Press Start 2P", serif;
        background-color: $btn-color;
        border: none;
        width: 20vmin;
        height: 6vmin;
        border-radius: 10px;
        color: $text;
        box-shadow: 5px 2px 0px #FFFFFF;
        cursor: pointer;
    }
    button:hover{
        background-color: #83043b;

    }
}