#sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total-S{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background2;
    border-radius: 20px;
    flex-direction: column;
    width: 100vmin;
    height: 50vmin;
}

.fit-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    img{
        width: 10vmin;
        height: 10vmin;
    }
    
}