@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

header {
  position: fixed;
}
header img {
  width: 5vmin;
  height: 5vmin;
}
header button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #0D080D;
  color: #FEECFF;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.nome-img {
  color: #FEECFF;
  font-family: "Press Start 2P", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.nome-img img {
  width: 30vmin;
  height: 30vmin;
  margin-bottom: 10vmin;
  margin-left: -5vmin;
}
.nome-img .nome {
  flex-direction: column;
}
.nome-img .nome .dstq {
  font-size: 14vmin;
  margin: 0vmin;
}
.nome-img .nome h2 {
  font-size: 7vmin;
  margin-top: 0vmin;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3vmin;
  margin-top: -5vmin;
}
.botoes button {
  font-family: "Press Start 2P", serif;
  background-color: #980544;
  border: none;
  width: 20vmin;
  height: 6vmin;
  border-radius: 10px;
  color: #FEECFF;
  box-shadow: 5px 2px 0px #FFFFFF;
  cursor: pointer;
}
.botoes button:hover {
  background-color: #83043b;
}

#sobre {
  margin-top: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
}

.total-S {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181318;
  border-radius: 20px;
  flex-direction: column;
  width: 100vmin;
  height: 50vmin;
  margin-bottom: 10vmin;
}
.total-S .botao-curriculo {
  font-family: "Poppins";
  font-size: 2vmin;
  color: #DA6E46;
  border: none;
  width: 20vmin;
  height: 5vmin;
  background-color: #181318;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.total-S .botao-curriculo:hover {
  transform: scale(1.1);
}

.fit-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.fit-img h1 {
  font-size: 8vmin;
  line-height: 8vmin;
  margin-left: 3vmin;
}
.fit-img img {
  width: 30vmin;
  height: 30vmin;
}
.fit-img .socials {
  margin-left: -22vmin;
  margin-top: 9vmin;
}
.fit-img .socials img {
  width: 6vmin;
  height: 6vmin;
  transition: transform 0.3s ease;
}
.fit-img .socials img:hover {
  transform: scale(1.1);
}
.fit-img .destaque {
  color: #851A22;
}/*# sourceMappingURL=index.css.map */